In [1]:
print('Hello, Python!')

Hello, Python!

In [2]:
import sys
print(sys.version)

3.5.5 |Anaconda, Inc.| (default, May 13 2018, 21:12:35)
[GCC 7.2.0]

In [3]:
print('Hello, Python!') # This line prints a string

Hello, Python!

In [1]:
# print the traditional hello world
print('hello world')

hello world

In [2]:
type(1.2)

float

In [3]:
type(12)

int

In [4]:
type('hello')

str

In [8]:
type(2) # verify that this is an integer

int

In [13]:
float(2) # convert integer 2 to a float

2.0

In [11]:
type(float(2)) # convert integer 2 to a float and check its type

float

In [16]:
int(1.1) # will result in loss of information when we get rid of the decimal point

1

In [17]:
int('1')

1

In [18]:
type(True)

bool

In [19]:
type(False)

bool

In [20]:
int(1)

1

In [21]:
int(0)

0

In [22]:
int(True)

1

In [23]:
int(False)

0

In [24]:
bool(0)

False

In [25]:
bool(1)

True

In [26]:
float(True)

1.0

In [27]:
float(False)

0.0

In [40]:
total_min = 43 + 42 + 57 # total length of albums in minutes
total_hr = total_min / 60 # total length of albums in hours
total_hr

2.3666666666666667

In [41]:
Name = "Laura"
Name

'Laura'

In [42]:
print(Name[1])

a

In [43]:
print(Name[3])

r

In [44]:
print(Name[-1])

a

In [45]:
print(Name[-4])

a

In [46]:
print(Name[-5])

L

In [47]:
print(Name[-3])

u

In [48]:
len("Laura Reed")

10

In [49]:
len("Kim Reederson")

13

In [51]:
Name[0:4]

'Laur'

In [54]:
Name = "Kim Reederson"

In [55]:
Name[5:8]

'eed'

In [56]:
Name[::2]

'KmReesn'

In [59]:
Statement = Name + " is pretty awesome"
Statement

'Kim Reederson is pretty awesome'

In [62]:
4* " cool stuff"

' cool stuff cool stuff cool stuff cool stuff'

In [66]:
Name= "cool stuff"
Name= Name+ " is pretty awesome"
Name

'cool stuff is pretty awesome'

In [68]:
print(" Beast is \n cool")

 Beast is
 cool

In [69]:
print(" Beast is \t cool")

 Beast is 	 cool

In [70]:
A=("my cat is distracting")
print("Before Upper: ", A)
B=A.upper()
print("After Upper: ", B)

Before Upper:  my cat is distracting
After Upper:  MY CAT IS DISTRACTING

In [76]:
A="Booty and the fountain"
B=A.replace('Booty', 'Beast')
B

'Beast and the fountain'

In [77]:
Name="Kim Reederson"
Name.find('Re')

4

In [78]:
Name.find('Reed')

4

In [81]:
A="Cool"
print(A[0:3])

Coo

In [85]:
Name="Lizz"
print(Name[0:2])

Li

In [86]:
'1'+'2'

'12'

In [87]:
'1'

'1'

In [88]:
'2'

'2'

In [89]:
'1'+'3'

'13'

In [90]:
 str(1+1)

'2'

In [91]:
 str(1+1)

'2'

In [92]:
'hello'.upper()

'HELLO'

In [93]:
str(1)+str(1)

'11'

In [1]:
tuple1=("cats",15,3.2)
tuple1

('cats', 15, 3.2)

In [8]:
tuple1[0]

'cats'

In [5]:
type(tuple1)

tuple

In [9]:
print( tuple1[0])

cats

In [10]:
print ( tuple1[1])

15

In [11]:
print ( tuple1[2])

3.2

In [12]:
print( type(tuple1[0]))

<class 'str'>

In [13]:
print( type(tuple1[1]))

<class 'int'>

In [15]:
print( type(tuple1[2]))

<class 'float'>

In [16]:
tuple1[-3]

'cats'

In [17]:
tuple1[-1]

3.2

In [19]:
tuple2=tuple1 + ("things", 2.43)
tuple2

('cats', 15, 3.2, 'things', 2.43)

In [20]:
tuple2[3:5]

('things', 2.43)

In [21]:
tuple2[1:3]

(15, 3.2)

In [22]:
tuple2[0:3]

('cats', 15, 3.2)

In [23]:
len(tuple2)

5

In [26]:
genres_tuple = ("pop", "rock", "soul", "R&B", "punk")
genres_tuple

('pop', 'rock', 'soul', 'R&B', 'punk')

In [27]:
len(genres_tuple)

5

In [28]:
len(("disco",10))

2

In [29]:
'1,2,3,4'.split(',')

['1', '2', '3', '4']

In [16]:
Dict={"Dark Side of the Moon":1973,"Thriller":1982,"The Bodyguard":1992,"Back in Black":1980,(0,3):1994}
Dict

{'Thriller': 1982,
 'Back in Black': 1980,
 (0, 3): 1994,
 'The Bodyguard': 1992,
 'Dark Side of the Moon': 1973}

In [11]:
Dict["Thriller"]

1982

In [17]:
Dict[(0,3)]

1994

In [20]:
release_year_dict = {"Thriller":"1982", "Back in Black":"1980", \
                    "The Dark Side of the Moon":"1973", "The Bodyguard":"1992", \
                    "Bat Out of Hell":"1977", "Their Greatest Hits (1971-1975)":"1976", \
                    "Saturday Night Fever":"1977", "Rumours":"1977"}
release_year_dict

{'Back in Black': '1980',
 'Bat Out of Hell': '1977',
 'Rumours': '1977',
 'Saturday Night Fever': '1977',
 'The Bodyguard': '1992',
 'The Dark Side of the Moon': '1973',
 'Their Greatest Hits (1971-1975)': '1976',
 'Thriller': '1982'}

In [21]:
release_year_dict.keys()

dict_keys(['Bat Out of Hell', 'The Bodyguard', 'Back in Black', 'Rumours', 'Thriller', 'The Dark Side of the Moon', 'Saturday Night Fever', 'Their Greatest Hits (1971-1975)'])

In [23]:
release_year_dict.values()

dict_values(['1977', '1992', '1980', '1977', '1982', '1973', '1977', '1976'])

In [27]:
release_year_dict['Chaos']=2008
release_year_dict

{'Back in Black': '1980',
 'Bat Out of Hell': '1977',
 'Chaos': 2008,
 'Rumours': '1977',
 'Saturday Night Fever': '1977',
 'The Bodyguard': '1992',
 'The Dark Side of the Moon': '1973',
 'Their Greatest Hits (1971-1975)': '1976',
 'Thriller': '1982'}

In [28]:
del(release_year_dict['Back in Black'])
del(release_year_dict['Thriller'])
release_year_dict

{'Bat Out of Hell': '1977',
 'Chaos': 2008,
 'Rumours': '1977',
 'Saturday Night Fever': '1977',
 'The Bodyguard': '1992',
 'The Dark Side of the Moon': '1973',
 'Their Greatest Hits (1971-1975)': '1976'}

In [29]:
'Rumours' in release_year_dict

True

In [30]:
'Fake Album' in release_year_dict

False

In [31]:
album_list =[ "Michael Jackson", "Thriller", 1982, "00:42:19", \
              "Pop, Rock, R&B", 46.0, 65, "30-Nov-82", None, 10.0]

album_set = set(album_list)             
album_set

{65,
 'Michael Jackson',
 '00:42:19',
 '30-Nov-82',
 10.0,
 46.0,
 None,
 'Pop, Rock, R&B',
 'Thriller',
 1982}

In [32]:
album_list=["rap","house","electronic music","rap"]
album_set=set(album_list)
album_set

{'electronic music', 'house', 'rap'}

In [33]:
A=[1,2,2,1]
B=set([1,2,2,1])
print("the sum of A is:",sum(A))
print("the sum of B is:",sum(B))

the sum of A is: 6
the sum of B is: 3

In [40]:
A = set(["Thriller","Back in Black", "AC/DC"] )
A.add("Wish You Were Here")
A

{'AC/DC', 'Back in Black', 'Thriller', 'Wish You Were Here'}

In [41]:
A.remove("AC/DC")
A

{'Back in Black', 'Thriller', 'Wish You Were Here'}

In [42]:
"Back in Black" in A

True

In [43]:
album_set1 = set(["Thriller",'AC/DC', 'Back in Black'] )
album_set2 = set([ "AC/DC","Back in Black", "The Dark Side of the Moon"] )
album_set1,album_set2

({'AC/DC', 'Back in Black', 'Thriller'},
 {'AC/DC', 'Back in Black', 'The Dark Side of the Moon'})

In [46]:
album_set3 = album_set1 & album_set2
album_set3

{'AC/DC', 'Back in Black'}

In [47]:
album_set1.difference(album_set2)

{'Thriller'}

In [48]:
album_set1.intersection(album_set2)

{'AC/DC', 'Back in Black'}

In [49]:
album_set1.union(album_set2)

{'AC/DC', 'Back in Black', 'The Dark Side of the Moon', 'Thriller'}

In [50]:
set({"Back in Black", "AC/DC"}).issubset(album_set1)

True

In [51]:
album_set1.issubset(album_set3)

False

In [52]:
age=19
#age=18

#expression that can be true or false
if age>18:
    
    #within an indent, we have the expression that is run if the condition is true
    print("you can enter" )


#The statements after the if statement will run regardless if the condition is true or false 
print("move on")

you can enter
move on

In [53]:
age=18
#age=19
if age>18:
    
    print("you can enter" )
 
else:
    print("go see Meat Loaf" )
    

print("move on")

go see Meat Loaf
move on

In [54]:
age=18
if age>18:
    
    print("you can enter" )
elif age==18:
    print("go see Pink Floyd")
else:
    print("go see Meat Loaf" )
    

print("move on")

go see Pink Floyd
move on

In [60]:
album_year = 1981
if album_year > 1980:
    print("Album year is greater than 1980")
    
print("")
print('do something..')

Album year is greater than 1980

do something..

In [61]:
album_rating = 8.5
# try with this value
if album_rating > 8:
    print ("this album is amazing")
else:
    print ("this album is ok")

this album is amazing

In [62]:
album_year = 1980

if(album_year > 1979) and (album_year < 1990):
    print ("Album year was in between 1981 and 1989")
    
print("")
print("Do Stuff..")

Album year was in between 1981 and 1989

Do Stuff..

In [67]:
album_year = 1990

if(album_year < 1980) or (album_year > 1989):
    print ("Album was not made in the 1980's")
else:
    print("The Album was made in the 1980's ")

Album was not made in the 1980's

In [68]:
album_year = 1983

if not (album_year == '1984'):
    print ("Album year is not 1984")

Album year is not 1984

In [69]:
album_year = 1991
if (album_year<1980) or (album_year==1991) or (album_year==1993):
    print("the year is",album_year)

the year is 1991

In [1]:
dates = [1982,1980,1973]
N=len(dates)

for i in range(N):
     
    print(dates[i])

1982
1980
1973

In [6]:
for i in range(0,8):
    print(i)

0
1
2
3
4
5
6
7

In [9]:
for i in range(-5,6):
    print(i)

-5
-4
-3
-2
-1
0
1
2
3
4
5

In [10]:
for year in dates:
    print(year)

1982
1980
1973

In [14]:
squares=['red','yellow','green','purple','blue','orange']

for i in range(0,6):
    print("Before square ",i, 'is',  squares[i])
    
    squares[i]='white'
    
    print("After square ",i, 'is',  squares[i])

Before square  0 is red
After square  0 is white
Before square  1 is yellow
After square  1 is white
Before square  2 is green
After square  2 is white
Before square  3 is purple
After square  3 is white
Before square  4 is blue
After square  4 is white
Before square  5 is orange
After square  5 is white

In [33]:
squares=['red','yellow','green','purple','blue','orange']

for i,square in enumerate(squares): # access the index and the elements of a given sequence
    print(i,square)

0 red
1 yellow
2 green
3 purple
4 blue
5 orange

In [32]:
dates = [1982,1980,1973,2000]

i=0;
year=0
while(year!=2000):
    year=dates[i]
    i=i+1
    print(year)
    
    
print("it took", i ,"repetitions to get out of loop")

1982
1980
1973
2000
it took 4 repetitions to get out of loop

In [38]:
A=['1','2','3','5']

for a in A:
    print(3*a)

111
222
333
555

In [34]:
x=0
while(x<2):
  print(x)
  x=x+1

0
1

In [35]:
for i in range(1,5):
    if (i!=2):
        print(i)

1
3
4

In [42]:
for i,x in enumerate(['A','B','C']):
    print(i+1,x)

1 A
2 B
3 C

In [43]:
squares=['orange','orange','purple','blue ','orange'] 
new_squares=[];

i=0
while(squares[i]=='orange'): #exit loop if value is not orange
    new_squares.append(squares[i])
    i=i+1
    
print(new_squares)

['orange', 'orange']

In [1]:
def Print(A):
    for a in A:
        print(a+'1')
        
Print(['a','b','c'])

a1
b1
c1